.DS_Store
*.graffle
*.numbers
*.webloc

*.sublime-project
*.sublime-workspace
*.ipynb_checkpoints

hardware/*/*.bak
hardware/*/*.kicad_pcb-bak
hardware/*/*-cache.lib

hdl/**/db
hdl/**/incremental_db
hdl/**/msim_transcript
hdl/**/output_files
hdl/**/rtl_work
hdl/**/simulation
hdl/**/transcript

hdl/**/*.bak
hdl/**/*.ini
hdl/**/*.rpt
hdl/**/*.summary

